/* My classes */

.hidden {
    opacity: 0;
}

.timeline_container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 99, 99, 0.8);
    content: "";
}

.timeline_container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    /*transition: 0.3s ease 0s;*/
    background-attachment: fixed;
    background-size: cover;
}

.timeline_header_title {
    color: #fff;
    font-size: 22px;
    font-family: Lato, sans-serif;
    font-weight: normal;
    margin: 0 10rem 8rem 10rem;
    letter-spacing: .04rem;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: -12px;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, .80);
}

.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
}

.timeline_item:before {
    content: attr(data-text);
    letter-spacing: 2px;
    width: 100%;
    position: absolute;
    color: #ffffff;
    font-style: italic;
    font-size: 16px;
    font-family: cormorant-garamond, sans-serif;
    border-left: 2px solid #ffffff;
    top: 70%;
    margin-top: -2rem;
    padding-left: 15px;
    text-align: left;
    /*opacity: 0;*/
    right: calc(-100% - 56px);
}

.timeline_item {
    padding: 34px 0;
    /*opacity: 0.3;*/
    /*filter: blur(2px);*/
    transition: 0.7s ease-in;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    top: -80px;
    justify-content: flex-end;
}

.timeline_item_nonitalics:before {
    content: attr(data-text);
    letter-spacing: 2px;
    width: 100%;
    position: absolute;
    color: #ffffff;
    font-style: normal;
    font-size: 16px;
    font-family: cormorant-garamond, sans-serif;
    border-left: 2px solid #ffffff;
    top: 70%;
    margin-top: -2rem;
    padding-left: 15px;
    text-align: left;
    /*opacity: 0;*/
    right: calc(-100% - 56px);
}

.timeline_item_nonitalics {
    padding: 34px 0;
    /*opacity: 0.3;*/
    /*filter: blur(2px);*/
    transition: 0.7s ease-in;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    top: -80px;
    justify-content: flex-end;
}

.timeline_item:nth-child(even) {
    justify-content: flex-start;
    align-self: flex-end;
}

.timeline_item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid #ffffff;
    padding-right: 15px;
    width: 100%;
}

.timeline_content_title {
    font-weight: normal;
    font-size: 50px;
    margin: -10px 0 10px 0;
    line-height: 50px;
    /*transition: 0.4s;*/
    padding: 0 10px;
    box-sizing: border-box;
    font-family: cormorant-garamond, sans-serif;
    color: #ffffff;
}

.timeline_content_desc {
    margin: 0;
    font-size: 18px;
    box-sizing: border-box;
    color: #ffffff;
    font-family: cormorant-garamond, sans-serif;
    font-weight: normal;
    line-height: 25px;
}

@media only screen and (max-width: 460px) {
    .timeline_content {
        margin: 100px 0 0 0;
    }

    .timeline_content_title {
        font-size: 50px;
        line-height: 50px;
    }

    .timeline_content_desc {
        font-size: 12px;
        margin-top: 1rem;
        line-height: 1rem;
    }

    .timeline_item {
        padding: 60px 0;
    }

    .timeline_item:nth-child(even):before {
        left: calc(-140% - 56px);
        width: 140%;
    }

    .timeline_item_nonitalics:nth-child(even):before {
        left: calc(-140% - 56px);
        width: 140%;
    }

    .timeline_item_nonitalics:before {
        width: 140%;
        right: calc(-140% - 56px);
    }

    .timeline_item:before {
        width: 140%;
        right: calc(-140% - 56px);
        /*font-size: 12px;*/
    }
}

@media only screen and (max-width: 700px) {
    .timeline_header_title {
        color: #fff;
        font-size: 22px;
        font-family: Lato, sans-serif;
        font-weight: normal;
        margin: 0 1rem 8rem 1rem;
        letter-spacing: .04rem;
    }

}


/* End my classes */


/*.timeline-item--active {*/
/*    opacity: 1;*/
/*    transform: translateY(0);*/
/*    !*filter: blur(0px);*!*/
/*}*/

/*.timeline-item--active:before {*/
/*    top: 50%;*/
/*    transition: 0.3s all 0.2s;*/
/*    opacity: 1;*/
/*}*/

/*.timeline-item--active .timeline_content_title {*/
/*    margin: -50px 0 20px 0;*/
/*}*/

/*@media only screen and (max-width: 767px) {*/
/*    .timeline-item {*/
/*        align-self: baseline !important;*/
/*        width: 100%;*/
/*        padding: 0 30px 150px 80px;*/
/*    }*/

/*    .timeline-item:before {*/
/*        left: 10px !important;*/
/*        padding: 0 !important;*/
/*        top: 50px;*/
/*        text-align: center !important;*/
/*        width: 60px;*/
/*        border: none !important;*/
/*    }*/

/*    .timeline-item:last-child {*/
/*        padding-bottom: 40px;*/
/*    }*/
/*}*/

/*.timeline__img {*/
/*    max-width: 100%;*/
/*    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);*/
/*}*/


/*.timeline-header {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    margin-bottom: 80px;*/
/*    position: relative;*/
/*}*/

/*.timeline-header__title {*/
/*    color: #fff;*/
/*    font-size: 24px;*/
/*    font-family: cormorant-garamond, sans-serif;*/
/*    font-weight: normal;*/
/*    margin: 0;*/
/*    padding-left: 20rem;*/
/*    padding-right: 20rem;*/
/*}*/

/*@media only screen and (max-width: 1200px) {*/
/*    .timeline-header__title {*/
/*        padding-left: 1rem;*/
/*        padding-right: 1rem;*/
/*    }*/
/*}*/

/*.timeline-header__subtitle {*/
/*    color: rgba(255, 255, 255, 0.5);*/
/*    font-family: cormorant-garamond, sans-serif;*/
/*    font-size: 16px;*/
/*    letter-spacing: 5px;*/
/*    margin: 10px 0 0 0;*/
/*    font-weight: normal;*/
/*}*/
